feature ospf 
router ospf {{host['ospf']["ospf_process"]}}
router-id {{host["ospf"]["ospf_rid"]}}
{%for int in host["interfaces"]%}
interface {{int["int"]}}
ip router ospf {{host["ospf"]["ospf_process"]}} area {{host["ospf"]["ospf_networks"]["area"]}}
{%endfor%}