no feature ospf
feature ospf
router ospf {{ host.vars.ospf.process_id }}
router-id {{ host.vars.ospf.rid }}
{%for int in host.vars.ospf.ospf_int%}
int {{ int }}
ip router ospf {{ host.vars.ospf.process_id }} are {{ host.vars.ospf.area }}
{% endfor %}